jupyter
pandas
matplotlib
numpy
seaborn
geopandas
descartes
adjustText
squarify
pySankey
geopy
matplotlib_venn
wordcloud
nltk
requests
plotly
sklearn
hyperopt
shap
firebase-admin
kaggle
lightgbm
keras
tensorflow
vecstack
